%% -*- erlang -*-
{deps, [
    {lager, "", {git, "git://github.com/basho/lager.git", "1b910c8"}},
    {ezk, "", {git, "git://github.com/talko/ezk.git", "c5fbdd2"}}
]}.
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose,
    {report, {eunit_surefire, [{dir, "."}]}}]}.
